.case {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  display: flex; }

.pop {
  color: #092f0f;
  font-family: Roboto;
  border: 1px solid #092f0f;
  background-color: #bbc9d8;
  cursor: default;
  width: 500px;
  box-shadow: 7px 7px 5px 0 rgba(50, 50, 50, 0.75); }

.dialog {
  display: none;
  z-index: 3;
  box-sizing: border-box;
  position: absolute;
  padding: 30px;
  transform: scale(0);
  transition: transform 250ms cubic-bezier(0.77, 0, 0.175, 1);
  margin: auto; }
  .dialog.active {
    transform: scale(1);
    transition: transform 250ms cubic-bezier(0.77, 0, 0.175, 1); }
  .dialog.border {
    border: solid 2px black; }

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 1; }

.overlay.active {
  transition: all 200ms;
  visibility: visible;
  opacity: 1; }

.dialog__action {
  font-size: 2rem;
  line-height: 2rem;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 15px 20px;
  transition: all 150ms ease; }
  .dialog__action i {
    font-style: normal;
    display: inline-block;
    transition: all 500ms ease; }
  .dialog__action:hover {
    background: #aaa;
    color: crimson; }
    .dialog__action:hover i {
      transform: rotate(270deg); }
