@import './variables.scss';

.container {
  color: $color-text;
  background: $color-fone;
  font-family: $prime-font;
}

.content {
  //margin: 50px auto;
}

.large-4 {
  outline: $outline-crimson;
}

span {
  outline: $outline-blue;
}

.outline-crimson {
  outline: $outline-crimson;
}

.outline-white {
  outline: $outline-whitesmoke;
}

.outline-blue {
  outline: $outline-blue;
}

.outline-green {
  outline: $outline-green;
}

.align-content-start {
  align-content: flex-start;
}

.tbl, .my-cell, .rows, .columns, .empty-cell {
  border: solid 1px white;
}

.my-cell {
  &:hover {
    cursor: pointer;
  }
}

.columns, .rows {
  background: rgba(0, 0, 0, 0.11);
}

.rows{
  color: $color-text;
}

.columns {
  font-family: $name-font;
}

.f-size-d-1, .fd-1 {
  font-size: .8rem !important;
}

.f-size-d-0, .fd-0 {
  font-size: .9rem !important;
}

.f-size-0, .fu-0 {
  font-size: 1.0rem !important;
}

.f-size-1, .fu-1 {
  font-size: 1.1rem !important;
}

.f-size-2, .fu-2 {
  font-size: 1.2rem !important;
}

.f-size-3, .fu-3 {
  font-size: 1.3rem !important;
}

.f-size-4, .fu-4 {
  font-size: 1.4rem !important;
}

.f-size-5, .fu-5 {
  font-size: 1.6rem !important;
}

.f-size-6, .fu-6 {
  font-size: 1.8rem !important;
}

.f-size-7, .fu-7 {
  font-size: 1.9rem !important;
}

.f-size-8, .fu-8 {
  font-size: 2.0rem !important;
}

.fw-5{
  font-weight: 500;
}

.fw-4{
  font-weight: 400;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.loader{
  //top:50%;
  //left: 50%;
  //top: 0;
  //left: 0;
  //min-width: 100px;
  //min-height: 100px;
}

@keyframes rotation {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

.loader{
  font-size: 4rem;
  color: #00ff82;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.loader-content:before{
  //width: 200px;
  box-sizing: border-box;
  animation-name: rotation;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  content: '';
  width: 75%;
  height: 75%;
  position: absolute;
  left: 12.5%;
  top: 12.5%;
  border: 4px solid #008a11;
  border-top: 4px solid white;
  border-bottom: 4px solid white;
  border-radius: 50%;
}

.slide-enter{
  opacity: 0;
}
.slide-enter-active{
  transition: opacity 0.5s;
}
.slide-leave-active{
  transition: opacity 0.5s;
}
.slide-leave-to{
  opacity: 0;
}

.opacity-50{
  opacity: .5;
}

hr {
  color: white;
}

.comp-name {
  border-bottom: dotted 2px $color-text;
}

.my-cell.even, .my-cell.even div {
      background: #9cc3ed;
 }
.my-cell.odd, .my-cell.odd div {
      background: #beeded;
}

.my-cell, .col-sm, .col-sm-9{
  //position: inherit;
}

.tst:hover{
  background-color: rgba(128, 128, 128, 0.5);
  transition: background-color 200ms linear;
}

//-------------------------------------

.z-10{
  z-index: 10;
}

.mtbl{
  margin-left: -30px;
  margin-right: -30px;
}