$orange: #3d47a3;
$yellow: #FFD34E;
$green: #105B63;
$main_blue: #33c3f0;
$main_blue_logo: #9df3ff;
$stroke_logo: 1.2px;
$stroke_logo_offset: -$stroke_logo;
$gray_hover: #303030;
$text_blue: #83d7f2;

$dev: false;
$outline-weight: 1px;

@mixin dev($flag:false){
  @if $flag{
    @content
  } @else {
  }
}

$color-beige: #FFFAD5;
$color-fone: #bbc9d8;
$color-text: #092f0f;
$color-header: #0C3844;
$color-lite: #dce5ff;
$icon_color: #dce5ff;

//$color-fone: #3F6075;
//https://colorscheme.ru/#4Lk01compw0w0
$outline-crimson: $outline-weight dotted crimson;
$outline-whitesmoke: $outline-weight dotted whitesmoke;
$outline-green: $outline-weight dotted green;
$outline-blue: $outline-weight dotted blue;
//---------------------
$delta-height: 15px;
//---------------------
$icon-font: Fontello, icomoon, FontAwesome;
$font-console: "Co";
$prime-font: Roboto;
//$prime-font: Raleway, "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
//$prime-font: 'Avenir', Helvetica, Arial, sans-serif;
//$name-font: 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
$name-font: Raleway, 'Segoe UI', "Helvetica Neue", Helvetica, Arial, sans-serif;
//$btn-font: Verdana,Arial,sans-serif, icomoon;

//----------------------
//$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);



